@import url(http://fonts.googleapis.com/css?family=Gabriela);

.htmlslika {
     width:100px; 
    height:100px;
    margin-top: -50px; 
    text-align: center;
}

#okvir {
   margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
    }

#meni {
       
    background: #74afdb;
        height: 100pt;
        width: 65%;
        position: relative;
        text-align: center;
}

#negundl {
    text-decoration: none;
    
}





#meni  ul {
    position: absolute;
  bottom: 0;
 
        list-style-type: none;
        
      margin-bottom: 1%; 
      margin-left: 3%;
   
		
		
}

#meni  ul  li {
        display: inline-block;
        padding-right: 35px; 
        font-size: 150%;
	
}

#glavni {
	margin-top: 1%;
  float: left;
  width : 65%;
  height: 750pt;
  background: #74afdb;
}

#glavni > h2 {
   margin-left: 1%;
   margin-top: 5%;
}

 #glavni > p {
	margin-right: 2%;
	margin-left: 1%;
}


  
  /* The container <div> - needed to position the dropdown content */
  #dropdown {
    width: 80%;
    margin: 0 auto;
}
 label, select,input {
    display: inline-block;
} 

 label {
    width: 30%;
    text-align: right;
}

 label + select {
    width: 30%;
    margin: 3% 30% 0 4%;
}

label + input[type=checkbox] {
    width: 7%;
    margin: 2% 10% 0 2%;
}

label + input[type=time] {
    width: 30%;
    margin: 2% 30% 0 4%;
}


#odb {
    margin-top: 4%;
    margin-left:20%;
    font-weight: bold;
    font-size: 22pt;
    text-align: right;
}

#kalendar {
   margin-top:2%;
    height:500pt;
   width: 100%;
   display: flex;
  align-items: center;
   margin-left: 13%;
}

table {
    background: lightgrey;
    border: 3px solid black;
    border-spacing: 10px;
}

th {
    border: 3px solid blue;
}

table td {
    width: 70px;
}

#unutrasnja {
    height: 50px; 
    border-collapse: collapse;
    border: 3px solid darkblue;
}
#unutrasnja  td , tr {
  
    border: 3px solid darkblue;
}
#unutrasnja tr {
   /* height: 25px; */
    text-align: center;
}

#unutrasnja tr .free{
    height: 12px;
  background: green;
 
}
#unutrasnja tr .busy{
    height: 12px;
    background: red;
   
  }