@import url(http://fonts.googleapis.com/css?family=Gabriela);

.htmlslika {
     width:100px; 
    height:100px;
    margin-top: -50px; 
    text-align: center;
}

#okvir {
   margin-top: 6%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    height: 100%;
    width: 100%;
    }

#meni {
       
    background: #74afdb;
        height: 100pt;
        width: 65%;
        position: relative;
        text-align: center;
}

#negundl {
    text-decoration: none;
    
}





#meni  ul {
    position: absolute;
  bottom: 0;
 
        list-style-type: none;
        
      margin-bottom: 1%; 
      margin-left: 3%;
   
		
		
}

#meni  ul  li {
        display: inline-block;
        padding-right: 35px; 
        font-size: 150%;
	
}

#glavni {
	margin-top: 1%;
  float: left;
  width : 65%;
  height: 500pt;
  background: #74afdb;
}

#glavni > h2 {
   margin-left: 1%;
   margin-top: 5%;
}

#glavni > p {
	margin-right: 2%;
	margin-left: 1%;
}

#tabelaSala {
   
    margin-top: 5%;
    margin-left: 20%;
    margin-right:25%;
   width: 60%;
    height: 50%; 
    border-collapse:collapse;
}
.headerSprat {
    background: #939499;
    width: 40pt; 
    height: 40pt;
  /*  text-align: right; */
    margin-right: 1pt;
}

.headerSprat #sprat {
    height: 50pt;
    background: #939499;
    text-align: center;

}

.headerSprat.low {
    text-align: right;
  
}

#rb {
   
    vertical-align: bottom ;
    text-align: center;
}

.sala.zauzetaSala {
    background:orange;
}

.sala.slobodnaSala {
    background:lightgreen;
}

#blanko {
    visibility: hidden;
    border: 0;
}

 .headerRedni, .sala,.headerSprat {
   
          border: solid 1px black; 
        
    
}

.headerRedni {
    background:  #c8c9cf;
    width : 60pt;
   
    font-weight: normal;
    text-align: left ;

}

.sala.kancelarija {
    background: darkslategray;
}

.sala {
    background: white;
    border: solid 2px gray;
    width: 30pt;
    height: 30pt;
    vertical-align: top;
    text-align: left;
}



